body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.piano {
    display: flex;
    position: relative;
    border: 5px solid #3b3b3b; /* Marco del piano */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.key {
    height: 200px;
    border: 1px solid #000;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;
    color: #000;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Suavizar transiciones */
}

.white {
    width: 40px; /* Ancho de las teclas blancas */
    background: white;
    z-index: 1;
}

.black {
    width: 30px;
    height: 120px;
    background: black;
    position: absolute;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
}

/* Ajustes para posicionar las teclas negras correctamente */
.black:nth-of-type(2) { left: 30px; }  /* Do# */
.black:nth-of-type(4) { left: 40px; } /* Re# */
.black:nth-of-type(6) { left: 83px; } /* Fa# */
.black:nth-of-type(8) { left: 125px; } /* Sol# */
.black:nth-of-type(10) { left: 165px; } /* La# */
.black:nth-of-type(12) { left: 208px; } /* Do# */
.black:nth-of-type(14) { left: 250px; } /* Re# */
.black:nth-of-type(16) { left: 291px; } /* Fa# */
.black:nth-of-type(18) { left: 333px; } /* Sol# */
.black:nth-of-type(20) { left: 375px; } /* La# */
.black:nth-of-type(22) { left: 415px; } /* Mi# */

.key:hover {
    opacity: 0.5; /* Efecto al pasar el mouse */
}

/* Clase para resaltar la tecla activa */
.active {
    background-color: yellow; /* Cambiar el color de fondo al presionar */
    opacity: 0.7; /* Cambiar la opacidad para dar un efecto visual */
    transition: background-color 0.2s ease, opacity 0.2s ease; /* Suavizar transiciones */
}
